<!-- <p>footer works!</p> -->
<footer>
    <div class="container-fluid footer-content">
      <div class="row footer-title">
        <div  class="col-md-6 col-lg-6 contact">
          <h2>Contact</h2>
          <p><i class="bi icons bi-telephone"></i> +221  33 896 65 76 </p>
          <p><i class="bi icons bi-geo-alt"></i>  Medina Rue 39 x 34 </p>
          <p><i class="bi icons bi-envelope"></i>  unchk&#64;gmail.com </p>
      </div>
          <div class="col-md-6 col-lg-6 a-propos">
            <h2 class="h2-propo">A propos</h2>
            <div class="parant-p">
              <p class="propos">Nous sommes une entreprise de tech specialisé au developpement d'application de météo. Nous proposons des solutions meteo fiable basé sur des données scientifiques. 
             </p>
            </div>
            
        </div>
         
         
       
      </div>
      <hr>
      <div class="footer-social">
        <a href="https://facebook.com" target="_blank"><i class="bi bi-facebook facebook"></i></a>
        <a href="https://twitter.com" target="_blank"><i class="bi bi-twitter-x twitter"></i></a>
        <a href="https://instagram.com" target="_blank"><i class="bi bi-instagram instagram"></i> </a>
        <a href="https://instagram.com" target="_blank"><i class="bi bi-youtube youtube"></i></a>
        <a href="https://instagram.com" target="_blank"><i class="bi bi-whatsapp whatsapp"></i></a>
        
      </div>
      <div class="footer-copy">
        <p class="text-secondary">&copy;  appMeteo 2025. Tous droits réservés.</p>
      </div>
    </div>
  </footer>