<!-- <p>footer works!</p> -->
<footer>
    <div class="container-fluid footer-content">
      <div class="row footer-title">
        <div  class="col-md-6 col-lg-6 contact">
          <h2>Contact</h2>
          <p><i class="fa-solid fa-phone  icons"></i> +221  33 896 65 76 </p>
          <p><i class="fa-solid fa-location-dot icons"></i> Medina Rue 39 x 34 </p>
          <p><i class="fa-regular fa-envelope icons"></i>  unchk&#64;gmail.com </p>
      </div>
          <div class="col-md-6 col-lg-6 a-propos">
            <h2 class="h2-propo">A propos</h2>
            <div class="parant-p">
              <p class="propos">Nous sommes une entreprise de tech specialisé au developpement d'application de météo. Nous proposons des solutions meteo fiable basé sur des données scientifiques. 
             </p>
            </div>
            
        </div>
      </div>
       <div class="bar-separation"></div>
      <div class="footer-social">
        <a href="https://facebook.com" target="_blank"><i class="fa-brands fa-facebook"></i></a>
        <a href="https://twitter.com" target="_blank"><i class="fa-brands fa-square-x-twitter"></i></a>
        <a href="https://instagram.com" target="_blank"><i class="fa-brands fa-instagram"></i> instagram</a>
        <a href="https://instagram.com" target="_blank"><i class="fa-brands fa-youtube"></i></a>
        <a href="https://instagram.com" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>
         
      

        
      </div>
      <div class="footer-copy">
        <p class="text-secondary">&copy;  appMeteo 2025. Tous droits réservés.</p>
      </div>
    </div>
  </footer>