
.footer-content {
    background-color: #000;
    color: #fff;
    opacity: 0.9;
    padding: 8px 0;
    text-align: center;
  }
  a{
    text-decoration: none;
    color: #fff;
  }
  .footer-title{
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
 .icons{
    font-size: 18px;
    margin-right: 18px;
 }
 
  .footer-social{
      display: flex;
      justify-content: center;
      background-color: #000;
  }
  .footer-social a{
      font-size: 28px;
      padding: 10px;
      margin: 10px;

  }

  .contact{

    display: block;
    justify-content: center;
    align-items: center;
  }
  h2{
    margin-top: 0;
  }
.contact p{
    font-size: 20px;
    padding: 0 17px;
    margin: 0 19px;
    justify-content: center;
}
.a-propos{
  justify-content: center;
  align-items: center;
}
.parant-p{
  
  height: auto;
padding: 0 auto;
margin: 8px 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}
 
h2-propo,.propos{
  /* width: 60%; */
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
 }
  
.footer-copy{
    margin: 0 auto;
    padding: 0 auto;
}
.bar-separation{
  width: 100%;
  max-height: 2px;
  height:1px ;
  background-color: #fff;
  border: 1px solid #fff;
  padding: 0;
  margin: 0;
}