.footer-content {
  /* height: 350px; */
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}
a {
  text-decoration: none;
  color: #fff;
}
.footer-title {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  /* justify-content: space-around; */
}
.icons {
  font-size: 25px;
  /* margin-right: 18px; */
}

.footer-social {
  display: flex;
  justify-content: center;
  /* background-color: black; */
}
.footer-social a {
  font-size: 28px;
  padding: 10px;
  margin: 10px;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
h2 {
  margin-top: 0;
}
.contact-links {
  font-size: 20px;
  padding: 0 17px;
  margin: 5px 10px;
  justify-content: center;
  display: flex;
  gap: 30px;
  /* flex-direction: column; */
  align-items: baseline;
}
.a-propos {
  justify-content: center;
  align-items: center;
}
.parant-p {
  height: auto;
  padding: 0 auto;
  margin: 8px 25px;
  display: flex;
  justify-content: center;
  align-content: center;
}
.parant-p p {
  margin-top: 10px;
  font-size: 1.2rem;
}

.h2-propo,
.propos {
  /* width: 60%; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-secondary {
  background-color: #333;
}

@media screen and(max-width:576px) {
  .footer-social {
    display: flex;
    justify-content: center;
    background-color: black;
  }
  .footer-social a {
    display: flex;
    justify-content: center;
    background-color: #333;
    color: #fff;
  }
}
