/* Box-Data : Centrage et Alignement */
.box-data {
  position: relative !important; /* le conteneur est positionné */
  padding: 20px;
  border-radius: 8px;
  overflow: hidden;
  position: relative !important;
}

/* Contenu de la carte météorologique */
.weather-info {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-image: url(../../../public/images/cover.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; /* Faire couvrir toute la surface */
  color: #ffffff;
  position: relative;
  overflow: hidden;
  max-width: 500px; /* Limiter la largeur */
  width: 100%; /* Occuper toute la largeur disponible */
}

/* Suggestions */
.suggestions {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-image: url(../../../public/images/suggestion.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; /* Faire couvrir toute la surface */
  color: #2c2727;
  max-width: 600px; /* Limiter la largeur */
  width: 100%; /* Occuper toute la largeur disponible */
}

/* Contenu de Suggestions */
.suggestions ul {
  font-size: 1.2em;
  list-style: none;
  padding: 0;

  text-align: center; /* Centrer le texte */
}

.suggestions h3 {
  text-align: center;
  font-weight: 700;
}

/* Formulaire et Boutons */
.form-group {
  gap: 10px; /* Espacement entre le champ de texte et le bouton */
}

/* Ajustement Global */
ul {
  padding-left: 0;
}

li {
  margin-bottom: 10px;
}

.alert {
  text-align: center;
  font-size: 1rem;
}
