/* Box-Data : Conteneur principal */
.box-data {
  margin: 20px 0;
}

/* Disposition des conteneurs météo et suggestions */
.weather-suggestions {
  display: flex; /* Alignement côte à côte */
  flex-wrap: wrap; /* Permet de passer en colonne sur petits écrans */
  gap: 20px; /* Espacement entre les deux conteneurs */
  justify-content: center; /* Centrer les conteneurs horizontalement */
}

/* Conteneur météo */
.weather-info {
  flex: 1 1 45%; /* Occupe environ 45% de l'espace disponible */
  max-width: 600px; /* Largeur maximale */
  background-image: url(../../../public/images/cover.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Conteneur suggestions */
.suggestions {
  max-width: fit-content; /* Largeur maximale */
  background-image: url(../../../public/images/suggestion.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #2c2727;
  height: fit-content;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Liste des suggestions */
.suggestions ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 1.2em;
  text-align: center;
}
:root {
  --seconde: 2;
  --third: 3;
}
.logo-t {
  animation: slideLeft 1s ease-in-out forwards;
  animation-delay: calc(var(--seconde) * 0.5s);
  opacity: 0;
}

.suggestions h3 {
  text-align: center;
  font-weight: bold;
}

/* Formulaire */
.form-group {
  gap: 10px;
}

.alert {
  text-align: center;
  font-size: 1rem;
}
@keyframes slideLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.slide_left {
  animation: slideLeft 1s ease-in-out forwards;
  animation-delay: calc(var(--third) * 0.5s);
  opacity: 0;
}
