<p></p>
<div class="container mt-5    align-items-center">
  <h1 class="text-center">Application Météo</h1>
  <div class="form-group mt-4 d-flex  justify-content-center align-items-center">
    <input
      [(ngModel)]="city"
      class="form-control w-50"
      placeholder="Entrez une ville"
      required
    />
    <button (click)="getWeather()" class="btn btn-primary  d-flex align-items-center">
      Rechercher
    </button>
  </div>
  <div *ngIf="weatherData" class="mt-4">
    <h3>Météo à {{ weatherData.name }}</h3>
    <p>
      Coordonnées : {{ weatherData.coord.lon }} E, {{ weatherData.coord.lat }} N
    </p>
    <p>Température : {{ weatherData.main.temp }} °C</p>
    <p>Condition : {{ weatherData.weather[0].description }}</p>
    <p>Humidité : {{ weatherData.main.humidity }} %</p>
    <p>Niveau de la mer : {{ weatherData.main.sea_level }} hpa</p>
    <p>Vitesse du vent : {{ weatherData.wind.speed }} mph E</p>
    <p>Lever du Soleil: {{ risesun }}</p>
    <p>Couchée du Soleil : {{ setsun }}</p>
  </div>
  <div *ngIf="errorMessage" class="alert alert-danger mt-4">
    {{ errorMessage }}
  </div>
</div>
